body {
    margin:0;
    padding:0;
    background: linear-gradient(#141e30, #243b55);
}

.studentClass {
    font-family: 'Times New Roman', Times, serif;
    height: 450px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;

  }

.mat-card{
    background-color: #141e30;
    width: 1000px; 
    font-weight: bold;
} 

.mat-list-item {
    /* background-color: #141e30; */
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
