<body>
    <!-- <h2>Student Hub</h2> -->
    <div class="login-box">
        <h2>Where Do You Want To Go ?</h2>
        <form>
            <a href="subject">
                <span></span>
                <span></span> 
                <span></span>
                <span></span>
                    To Subject Page 
            </a>
    
            <a href="student">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                    To Student Page
            </a>
        </form>
    </div>
</body>